**/.git
**/.gitignore
**/.github
**/.DS_Store
**/node_modules
**/build
**/out
**/dist
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.run.xml
**/*.synctex.gz
**/*.toc
**/*.out
**/*.xdv
**/*.nav
**/*.snm
**/*.thm
